:root {
  --primary: #6ad9fb;
  --muted: #fff4c6;
  --secondary: #ffffff;
}
body {
  font-family: "Fredoka", sans-serif;
  background-color: #ffffff;
  color: var(--primary);
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  overflow:hidden;
}
h1{
  font-size: 2em;
}
a{
  display: inline-block;
  background: var(--muted);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}
a:hover{
  background: var(--primary);
}