:root {
  --primary: #6ad9fb;
  --muted: #f7da82;
  --secondary: #ffffff;
}
body {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #ffffff;
  color: #ffffff;
  width: 200px;
  height: 113px;
  padding: 20px;
  border-radius: 12px;
  overflow:hidden;
}
body::before{
  content: "";
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: url('https://youtube-tracker-production-2dbe.up.railway.app/static/images/yt-1.png');
  background-size: cover;
  background-position: fixed;
  z-index: -1;
}
p{
  margin-top: 40px;
  font-size: 2em;
}
a{
  display: inline-block;
  background: var(--muted);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}
a:hover{
  background: var(--primary);
}