:root{
    --primary: #ffffff;
    --muted:#acb7ed;
    --secondary: #7d7ace;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary);
  background-image: url("/static/images/blue-bg.heic");
  background-size: 400px;
  background-attachment: fixed;
  color: var(--primary);
  padding: 40px;
}
h1 {
  color: var(--primary);
}
.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.stat-box {
  background: var(--secondary);
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  text-align: center;
}
.stat-box h2 {
  font-size: 2em;
  margin: 0;
  color: var(--primary);
}
.stat-box p {
  margin: 5px 0 0 0;
  color: var(--muted);
}
table {
  width: 100%;
  border-radius: 8px;
  border-collapse: collapse;
}
tr{
    background: var(--secondary);
    border-radius: 8px;
}
th {
  padding: 12px;
  text-align: left;
}
td {
  padding: 12px;
  border-bottom: 1px solid var(--muted);
}
tr:hover {
  background: var(--secondary);
}
