:root {
  --primary: #ffffff;
  --muted: #c6d0ff;
  --secondary: #93a2f4;
}
body {
  font-family: "Fredoka", sans-serif;
  background-color: var(--primary);
  color: var(--primary);
  padding: 80px;
}
h1{
    font-size: 3em;
    transition: transform 0.3s ease-in-out;
}
h1, h2, th {
  color: var(--primary);
  font-weight: 400;
}
body::before {
  content: "";
  position: fixed;
  background-image: url('/static/images/yt-1.png');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  z-index: -1;
}
.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.stat-box {
  background: var(--secondary);
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  text-align: center;
  transition: transform 0.3s ease-in-out; 
}
.stat-box h2 {
  font-size: 2em;
  margin: 0;
  color: var(--primary);
}
.stat-box p {
  margin: 5px 0 0 0;

}
table {
  width: 100%;
  border-radius: 8px;
  border-collapse: separate;
  border-spacing: 0;
  background: var(--muted);
  overflow: hidden;
  transition: transform 0.3s ease-in-out; 
}
thead tr {
  background: var(--secondary);
}
th {
  padding: 12px;
  text-align: left;
}
td {
  padding: 12px;
}
tr:hover {
  background: var(--secondary);
}
.stat-box, table, h1:hover{
    transform: scale(1.02);
}